body {
    text-transform: uppercase;
    font-family: sans-serif;
}
section{
    background-image: url("festival.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:400px;
    height: 700px;
}
/* heading */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
}
header h1 {
    padding: 15px 15px 5px;
}
header p {
    font-size: 0.7em;
    padding-bottom: 15px;
}
/* main */
.qrCode {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.qrCode img {
    width: 300px;
}
/* information */
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.date {
    display: flex;
    flex-direction: row;
}
.date div {
    border: 1px solid #000;
    width: 50%;
    font-weight: bold;
}
.prize {
    border: 1px solid #000;
    border-top: hidden;
}
.joke {
    display: none;
}

@media (min-width:1000px) {
    section {
        width: 800px;
        height: 300px;
        display: grid;
        grid-template: repeat(4, 75px) / repeat(4, 200px);
    }
    /* heading */
    header {
        grid-area: 1 / 1 / 3 / 4;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        margin: 15px 0 0 15px;
        border-right: hidden;
    }
    header h1 {
        font-size: 3.2em;
        padding: 5px 15px 10px;
        margin: 0px;
    }
    header p {
        padding-bottom: 0px;
    }
    /* main */
    .qrCode {
        grid-area: 1 / 4 / 5 / 5;
        align-items: center;
        border: 1px solid #000;
        margin: 15px 15px 5px 0;
    }
    .qrCode img {
        width: 200px;
        height: 200px;
    }
    /* information */
    .info {
        grid-area: 3 / 1 / 4 / 4;
        flex-direction: row;
        margin-left: 15px;
        font-size: 1.2em;
    }
    .date:first-child {
        grid-area: 3 / 1 / 4 / 2;
    }
    .date:last-child {
        grid-area: 3 / 2 / 4 / 3;
    }
    .date div {
        width: 195px;
        border-top: hidden;
        border-right: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .prize {
        grid-area: 3 / 3 / 4 / 4;
        width: 195px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .joke {
        grid-area: 4 / 1 / 5 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 5px 15px;
        border: 1px solid #000;
        border-top: hidden;
        border-right: hidden;
    }
}