* {
  box-sizing: border-box;
}

body {
    color: #fff;
}

section.advertisement {
    width: 336px;
    height: 280px;
    background: linear-gradient(#2c3e50, #bdc3c7);
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.7em;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.5em;
}

.links {
    color: black;
}

.today {
    display: flex;
    justify-content: center;
}

.today p {
    text-align: center;
}